<% provide(:title, 'Wine Listing') %>
<h1>Wine Listing</h1>



<div class="row clearfix">

	<aside class="span4">
		<section>

			<% if @filter_conditions.any? %>
			  <h3>Filters</h3>
			  	<%= link_to "Clear All Filters", clear_filter_path(:all) %>
			  	<ul class="category-filter">
			  	<% @filter_conditions.each do |key, val| %>
			  			<li>
			  				<%= cap_and_pluralize_sym(key) %>
			  				<%= link_to "(clear)", clear_filter_path(key.to_s) %>
			  			</li>
					<% end %>
				</ul>
			<% end %>
			<% WINE_FILTER_TYPES.each do |type| %>
				<% if @filter_conditions[type].nil? &&
							!@attributes[type].nil? && 
							(@attributes[type].count > 1) %>

					<div>
						<h3><%= cap_and_pluralize_sym(type) %></h3>
							<ul class="category-filter">
								<% @attributes[type].each do |attribute| %>
								 <li>
								 		<%= link_to attribute.name, polymorphic_path(attribute) %>
								 </li>
								<% end %>
							</ul>
					</div>
				<% end %>
			<% end %>
		</section>
	</aside>



	<%= will_paginate %>
	<div class="span8">
		<ul	class="wines">
				<%= render @wines %>
		</ul>

		<%= will_paginate %>
	</div>
</div>
<%= debug session %>